{% extends "shop/base.html" %}

{% block title %}
    Про нас
{% endblock %}

{% block content %}
    <h3><br><br><br>Інтернет-магазин одягу.</h3>
    <h5>Адреса: вул. Соснова 1Б, офіс 6969</h5>
    <br><br><br><br>
    <h4>НАША МІСІЯ</h4>
    <p>
        <h5>Ми прагнемо сприяти розвитку української модної індустрії, пропонуючи одяг високої якості, створений із турботою про навколишнє середовище та етику виробництва. Наша продукція поєднує стиль та комфорт, щоб кожен міг відчувати себе впевнено й особливо</h5>
    </p>
{% endblock %}
